# Firebase
service-account.json

# Environment variables
.env

# Dependencies
node_modules/
package-lock.json

# Local data
data/
error_screenshot.png

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
